<div class='w3-row w3-center' ng-controller='CardController'>

    <div class='dash-area'>
        <h1 class='dash-header' id='card-counter'>{{numOfCardsLeft}} Cards Left!</h1>
        
        <div class='card-viewport'>
            <div class="card-container">
                <div class="no-cards-box">
                    <h1 id='no-cards'>No Cards Left!</h1>
                    <input type='button' onclick='directToDiscover()' class='login-btn new-search' id='btn-shadow' value='New Search'>
                </div>
                <div ng-repeat="card in cards" class="card" id='card-box' ng-model='cardBox'>
                    <div class="card-img" style="background-image:url('{{card.image_url}}')"></div>
                    <h2 class='card-name' ng-bind-html='card.name'>{{card.name}}</h2>
                    <p class='card-hours' ng-bind-html='card.miles'>{{card.miles}}</p>
                    <h4 class='card-detail'>Category: <span class='card-value' ng-bind-html='card.categories[0].title'>{{card.categories[0].title}}</span></h4>
                    <h4 class='card-detail'>Rating: <span class='card-value' ng-bind-html='card.rating'>{{card.rating}}</span> <i id='card-star' class="fa fa-star" aria-hidden="true"></i></h4>
                    <h4 class='card-detail'>Price: <span class='card-value' ng-bind-html='card.price'>{{card.price}}</span></h4>
                    <a id='address-link' target="_blank" href="http://maps.google.com/?q={{card.location.display_address[0]}} {{card.location.display_address[1]}}">
                        <h4 class='card-detail locations' id='card-address'>Location: <span class='card-value address' ng-bind-html='card.location.display_address[0]'>{{card.location.display_address[0]}}</span> &nbsp;<span class='card-value address' ng-bind-html='card.location.display_address[1]'>{{card.location.display_address[1]}}</span></h4>
                    </a>
                    <h4 class='card-detail'>Phone: <span class='card-value' ng-bind-html='card.phone'>{{card.phone}}</span></h4>
                </div>

                <div class="controls-box" id='controls-box'>
                    <i id='hide-controls' ng-click='hideControls()' class="fa fa-close"></i>
                    <h1 id='ctrl-header'>Controls</h1>
                    <div class="ctrl-details">
                        <ul>
                            <li id='ctrl'>Swipe <b>LEFT</b> or tap <i id='ctrl-no' class="fa fa-times" aria-hidden="true"></i> to pass on a card, and swipe <b>RIGHT</b> or tap <i id='ctrl-yes' class="fa fa-check" aria-hidden="true"></i> to add the restaurant to your favorites.</li>
                            <li id='ctrl'>Tap the address to open restaurant on Google Maps.</li>
                            <li id='ctrl'>Press down on the card to open the restaurant's Yelp Page.</li>
                            <li id='ctrl'>Tap <i id='ctrl-back' class="fa fa-arrow-left" aria-hidden="true"></i> to go back to the search preferences.</li>
                            <li id='ctrl'>Tap <i id='ctrl-star' class="fa fa-star" aria-hidden="true"></i> to view your favorited restaurants.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-options">
                <div class='card-btn' id='back' onclick='directToSearch()'><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
                <div class='card-btn' id='no' ng-click='no()'><i class="fa fa-times" aria-hidden="true"></i></div>
                <div class='card-btn' id='yes' ng-click='yes()'><i class="fa fa-check" aria-hidden="true"></i></div>
                <div class='card-btn' id='star' onclick="directToFavorites()"><i class="fa fa-star" aria-hidden="true"></i></div>
            </div>
        </div>
        <p id='view-controls' ng-click='viewControls()'><i class="fa fa-question-circle-o" aria-hidden="true"></i> View Controls</p>
    </div>

</div>

