<div class='w3-row w3-center' ng-controller='FaveController'>
        <div class="topnav" id="myTopnav">
            <a onclick='goHome()'><img id='nav-icon' src='/resources/images/crave-full.png'/></a>
            <a onclick='directToSearch()' class='nav-hvr'>SEARCH</a>
            <a onclick='directToFavorites()' class='nav-hvr active'>MY FAVORITES</a>
            <a onclick="directToLogout()" class='nav-hvr login-responsive' id='showLogin'>LOGOUT</a>
            <div class='login-nav'><div class='login-btn' onclick="directToLogout()">LOGOUT</div></div>
            <a href="javascript:void(0);" class="icon" onclick="navHamburger()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class='dash-area' id='fave-dash'>
            <h1 class='dash-header'>View your favorite restaurants!</h1>
            <div id='search-container'>
                <i id='search-icon' class="fa fa-search" aria-hidden="true"></i>
                <input id='search-box' ng-model='query.name' type='text' placeholder="Search your restaurants">
            </div>
            <div class="fave-viewport">
                <div class="fave-container">
                    <div ng-repeat="fave in faves | filter:query" class="fave" id='fave-box' ng-model='faveBox'>
                        <i ng-click='removeFavorite($index)' class="fa fa-times delete-fave" aria-hidden="true"></i>
                        <a id='address-link' href={{fave.url}} target="_blank">
                            <div class="fave-img" style="background-image:url('{{fave.image_url}}')"></div>
                            <h4 class='fave-name' ng-bind-html='fave.name'>{{fave.name}}</h4>
                            <p class='fave-detail'>Category: <span class='fave-value' ng-bind-html='fave.categories[0].title'>{{fave.categories[0].title}}</span></p>
                            <p class='fave-detail'>Price: <span class='fave-value' ng-bind-html='fave.price'>{{fave.price}}</span></p>
                            <p class='fave-detail'>Rating: <span class='fave-value' ng-bind-html='fave.rating'>{{fave.rating}}</span> <i id='card-star' class="fa fa-star" aria-hidden="true"></i></p>
                            <p class='fave-detail'>Location: <span class='fave-value' ng-bind-html='fave.location.display_address[0]'>{{fave.location.display_address[0]}}</span> &nbsp;<span class='fave-value' ng-bind-html='fave.location.display_address[1]'>{{fave.location.display_address[1]}}</span></h4>
                            <p class='fave-detail'>Phone: <span class='fave-value' ng-bind-html='fave.phone'>{{fave.phone}}</span></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    