<div class='w3-row w3-center' ng-controller='FeedController'>
        <div class="sidebar">
            <div class='w3-row w3-center'>
                <img id='profile-pic' src='http://localhost:3000/images/{{imagePreviewUrl}}' onclick="directToProfile()" onload='profilePicLoaded()'>
                <h3 class='profile-stat' id='profile-name'>{{ username }}</h3>
                <h6 class='profile-stat'>Posts: <span id='profile-posts'>{{post_count}}</span></h6>
                <h6 class='profile-stat'>Followers: <span id='profile-followers'>{{follower_count}}</span></h6>
                <hr id='sidebar-hr'>
            </div>
            <div class='w3-row w3-center'>
                <h2 class='sidebar-btn sidebar-active' onclick="directToFeed()"><i class="fa fa-rss sidebar-icon" aria-hidden="true"></i>FEED</h2>
                <h2 class='sidebar-btn' onclick="directToDashboard()"><i class="fa fa-search sidebar-icon" aria-hidden="true"></i>SEARCH</h2>
                <h2 class='sidebar-btn' onclick="directToDiscover()"><i class="fa fa-compass sidebar-icon" aria-hidden="true"></i>DISCOVER</h2>
                <h2 class='sidebar-btn' onclick="directToFavorites()"><i class="fa fa-star sidebar-icon" aria-hidden="true"></i>FAVORITES</h2>
                <h2 class='sidebar-btn' onclick="directToProfile()"><i class="fa fa-user sidebar-icon" aria-hidden="true"></i>PROFILE</h2>
                <h2 class='sidebar-btn' onclick="directToUpload()"><i class="fa fa-upload sidebar-icon" aria-hidden="true"></i>UPLOAD</h2>
                <br>
                <h6 class='sidebar-btn' id='sidebar-logout' onclick='directToLogout()'><i class="fa fa-sign-out sidebar-icon" aria-hidden="true"></i>LOGOUT</h6>
            </div>
        </div>
    
        <div class='dash-area feed-dash'>
            <h1 class='dash-header'>{{greeting}}, {{name}}! Welcome to your feed.</h1>

            <div class="feed-viewport">
                <div class="feed-container">
                    <div ng-repeat="post in posts" class="feed-post-box">
                        <div class="feed-user-info">
                            <a class='user-link' href='#/profile/{{ post.user }}'>
                                <img class='feed-user-pic' src='http://localhost:3000/images/{{post.userImage}}'>
                            </a>
                            <a class='user-link' href='#/profile/{{ post.user }}'>
                                <h3 class='feed-user-name'>{{post.username}}</h3>
                            </a>
                        </div>
                        <div class='feed-photo' style="background-image:url(http://localhost:3000/images/{{post.image}})"></div>
                        <div class="feed-caption-box">
                            <h4 class='feed-dish'>{{post.title}}</h4>
                            <h6 class='feed-restaurant'><i class='fa fa-map-marker feed-map'></i><span>{{post.location}}</span></h6>
                            <p class='feed-caption'>{{post.caption}}</p>
                        </div>
                        <div class='feed-interaction'>
                            <i class='fa fa-heart feed-heart animated' id={{post._id}} ng-click="clickHeart(post._id, $event)"></i>
                            <h6 class='feed-likes'>{{post.likes.length}} likes</h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    
    </div>
    
    