<div class='w3-row w3-center' ng-controller='DiscoverController'>
    <div class="topnav" id="myTopnav">
        <a onclick='goHome()'><img id='nav-icon' src='front-end/resources/images/crave-full.png'/></a>
        <a onclick='directToSearch()' class='nav-hvr active'>SEARCH</a>
        <a onclick='directToFavorites()' class='nav-hvr'>MY FAVORITES</a>
        <a onclick="directToLogout()" class='nav-hvr login-responsive' id='showLogin'>LOGOUT</a>
        <div class='login-nav'><div class='login-btn' onclick="directToLogout()">LOGOUT</div></div>
        <a href="javascript:void(0);" class="icon" onclick="navHamburger()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class='dash-area discover'>
        <div id='search-splash' class='discover-splash'>
            <div class='splash-box'>
                <img id='splash-logo' class='animated pulse infinite' src='/front-end/resources/images/splashlogo.png'>
                <h2 class='splash-text'>Finding Restaurants</h2>
            </div>
        </div>
        <h1 class='dash-header2'>What are you <span class='crave'>craving</span>?</h1>
        <form id='discoverForm' ng-submit='discover()'>
            <h1 id='register'>Preferences</h1>
            <input class='textbox' placeholder='Term e.g. Asian' name="term" ng-model="term" type="text" min=1 maxlength=30>
            <p class='price-slider-val w3-center'>{{ priceVal }}</p>
            <input ng-model='price' type="range" min="0" max="4" value='1' class="price-slider">
            <input id='location' class='textbox' placeholder='Zip, State, City' name="location" ng-model="location" type="text" min=1 maxlength=60 required>
            <p id='accent' ng-click='getGeoLocation()' class='use-location'><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> Use your location instead</p>
            <hr>
            <input type='submit' class='login-btn' id='btn-shadow' value='Start'>
            <span class='form-error' id='invalid-search'>No Search Results! Try again.</span>
        </form>
    </div>
    
    </div>
    
    