<div ng-controller='UploadController'>
    <h1>UPLOAD IMAGE HERE</h1>
    <form ng-submit='upload()'>
        <input type='file' accept="image/*" onchange="angular.element(this).scope().onImagePicked(this)">
        <div class="image-preview-box">
            <img class='image-preview' src='{{imagePreviewUrl}}'/>
        </div>
        <input placeholder='Caption' ng-model="postCaption" type="text" min=1 maxlength=30>
        <input placeholder='Location' ng-model="postLocation" type="text" min=1 maxlength=30>
        <!-- <input ng-model='postRating' type="range" min="1" max="5" value='1' class="price-slider"> -->
        <input type='submit' class='login-btn' id='btn-shadow' value='Upload'>
    </form>
</div>