<div class='w3-row w3-center' ng-controller='ViewProfileController'>
        <div class="sidebar">
            <div class='w3-row w3-center'>
                <img id='profile-pic' src='http://localhost:3000/images/{{imagePreviewUrl}}' onclick="directToProfile()" onload='profilePicLoaded()'>
                <h3 class='profile-stat' id='profile-name'>{{ username }}</h3>
                <h6 class='profile-stat'>Posts: <span id='profile-posts'>{{post_count}}</span></h6>
                <h6 class='profile-stat'>Followers: <span id='profile-followers'>{{follower_count}}</span></h6>
                <hr id='sidebar-hr'>
            </div>
            <div class='w3-row w3-center'>
                <h2 class='sidebar-btn' onclick="directToFeed()"><i class="fa fa-rss sidebar-icon" aria-hidden="true"></i>FEED</h2>
                <h2 class='sidebar-btn' onclick="directToDashboard()"><i class="fa fa-search sidebar-icon" aria-hidden="true"></i>SEARCH</h2>
                <h2 class='sidebar-btn' onclick="directToDiscover()"><i class="fa fa-compass sidebar-icon" aria-hidden="true"></i>DISCOVER</h2>
                <h2 class='sidebar-btn' onclick="directToFavorites()"><i class="fa fa-star sidebar-icon" aria-hidden="true"></i>FAVORITES</h2>
                <h2 class='sidebar-btn' onclick="directToProfile()"><i class="fa fa-user sidebar-icon" aria-hidden="true"></i>PROFILE</h2>
                <h2 class='sidebar-btn' onclick="directToUpload()"><i class="fa fa-upload sidebar-icon" aria-hidden="true"></i>UPLOAD</h2>
                <br>
                <h6 class='sidebar-btn' id='sidebar-logout' onclick='directToLogout()'><i class="fa fa-sign-out sidebar-icon" aria-hidden="true"></i>LOGOUT</h6>
            </div>
        </div>
    
        <div class='dash-area profile-viewport'>
            <div class="profile-header w3-row" ng-click='cancelEdit($event)'>
                <div class="w3-col m4 profile-pic-box">
                    <img id='avatar' class='profile-pic' src="http://localhost:3000/images/{{viewimagePreviewUrl}}" onload='avatarLoaded()'>
                    <input ng-click='followUser()' type='button' class='login-btn user-follow-profile' id="{{$index}}" value={{followStatus}}>                    
                </div>
                <div class="w3-col m8 w3-left-align">
                    <h1 class='profile-name'>{{viewname}}</h1>
                    <h4 class='profile-uname'>@{{viewusername}}</h4>
                    <div class="w3-row" style="width:13vw">
                        <div class="w3-col m6"><p class='profile-count'>{{viewpost_count}} Posts</p></div>
                        <div class="w3-col m6"><p class='profile-count'>{{viewfollower_count}} Followers</p></div>
                    </div>
                    <i class='fa fa-map-marker profile-location-icon'></i><input placeholder="Add Your Location" maxlength="30" type='text' id='profile-location' class='profile-location' value={{viewlocation}} readonly>
                    <textarea placeholder='Add a Bio' id='profile-bio' maxlength="130" spellcheck="false" readonly>{{viewbio}}</textarea>
                </div>
            </div>
            <div class="profile-gallery-box">
                <div class="profile-grid">
                    <div ng-repeat="post in posts" class='gallery-img' style="background-image:url(http://localhost:3000/images/{{post.image}})">
                        <div class="gallery-img-hvr">
                            <p class="img-hvr-likes"><i class='fa fa-heart hvr-heart'></i> {{post.likes.length}} likes</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <div class="modal-content">
                    <div class="modal-img" style="background-image:url(http://localhost:3000/images/{{viewImage}})"></div>
                    <div class="modal-info">
                        <div class='modal-user-info'>
                            <img class='modal-user-img' src='http://localhost:3000/images/{{viewAvatar}}'>
                            <p class='modal-username'>{{viewUsername}}</p>
                            <i ng-click='deletePost(viewPostID)' class='fa fa-trash modal-delete'></i>
                        </div>
                        <hr id='modal-hr'>
                        <div class="modal-notifs">
                            <p>melissabuena liked this post</p>
                            <p>melissabuena liked this post</p>
                            <p>melissabuena liked this post</p>
                            <p>melissabuena liked this post</p>
                            <p>melissabuena liked this post</p>
                            <p>melissabuena liked this post</p>
                            <p>melissabuena liked this post</p>
                            <p>melissabuena liked this post</p>
                            <p>melissabuena liked this post</p>
                            <p>melissabuena liked this post</p>
                            <p>melissabuena liked this post</p>
                            <p>melissabuena liked this post</p>
                        </div>
                        <hr id='modal-hr'>
                        <div class="modal-post-details">
                            <h4 class='modal-title'>{{viewTitle}}</h4>
                            <h6 class='modal-location'><i class='fa fa-map-marker feed-map'></i><span>{{viewLocation}}</span></h6>
                            <p class='modal-caption'>{{viewCaption}}</p>
                            <h6 class='modal-likes'><i class='fa fa-heart modal-heart'></i> {{viewLikes}} likes</h6>
                        </div>
                    </div>
                </div>    
            </div>

        </div>
    
    </div>
    
    